@CHARSET "UTF-8";

.content{
	background-color: white;
}
.content .container{
	width: 800px;
	padding-bottom: 30px;
}
.content .jumbotron{
	background-color: white;
	padding-left: 0px;
	margin-bottom: 10px;
}
.content .jumbotron h1 {
	font-size: 50px;
	font-weight: lighter;
}
.content h3{
	color: white;
	border: 1px solid #cccccc;
	background-color: #cccccc;
	border-radius: 4px;
	padding: 3px 5px;
	display: inline-block;
}
.content .row h3 i{
}
.content .desc{
	font-size: 15px;
	color: #666666;
	margin: 0px 50px 20px 50px;
}
.content p{
	margin: 0px 0px 5px 60px;
	font-size: 16px;
}