@CHARSET "UTF-8";

.content{
	background-color: white;
}
.content .container{
	width: 800px;
	padding-bottom: 30px;
}
.content .jumbotron{
	background-color: white;
	padding-left: 0px;
	margin-bottom: 10px;
}
.content .jumbotron h1 {
	font-size: 50px;
	font-weight: lighter;
}
.content .row h3{
	text-align: center;
	color: #337AB7;
}
.content .row h3 i{
}
.content .desc{
	font-size: 15px;
	color: #666666;
	margin: 0px 50px 20px 50px;
}

.pluginImg{
	text-align: right;
}
.pluginImg img{
	margin-top: 50px;
}

.footer div.container{
	color: #F0F0F0;
	text-align: center;
	padding: 50px 0px;
}
.logBox{
	background-color: #EEEEEE;height: 100px;margin-top: 5px;border-radius: 4px;padding: 5px 10px;
	overflow-y:auto; 
}