@CHARSET "UTF-8";

.navbar{
	margin-bottom: 0px;
}
header{
	background-color: white;
	color: #666666;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
	color: #555;
	background-color: #e7e7e7;
}
.navBox .nav li a{
	color: #666666;
	font-size: 13px;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
	padding: 4px 20px;
	text-align: right;
}
.navBox .nav li.current a{
	font-weight: 700;
	color: #337AB7;
	border-right: 3px solid #337AB7;
}
.navBox .nav li {
	width: 170px;
}
.content{
	background-color: white;
}
.content .container{
	width: 800px;
	padding-bottom: 100px;
}
.content .jumbotron{
	background-color: white;
	padding-left: 0px;
	margin-bottom: 10px;
}
.content .jumbotron h1 {
	font-size: 50px;
	font-weight: lighter;
}
.content .row h3{
	color: black;
}
.content .row h3 i{
}
.content .desc{
	font-size: 15px;
	color: #666666;
	margin: 0px 50px 20px 50px;
}

.propertiesBox ul li{
	margin-bottom: 10px;
}

.usageBox {
	margin: 10px 0px 0px 0px;
	background-color: #F5F5F5;
	padding: 10px;
	color: #525252;
}
.usageBox p {
	color: #525252;
}
