@CHARSET "UTF-8";

.content{
	background-color: white;
}
.content .jumbotron{
	background-color: white;
	padding-left: 0px;
	margin-bottom: 10px;
}
.content .jumbotron h1 {
	font-size: 50px;
	font-weight: lighter;
    margin-top: 0px;
}
.content .row h3{
	text-align: center;
	color: #337AB7;
	font-size: 20px;
}

.content .row h1{
	text-align: center;
	color: #337AB7;
}

.content .head-container {
	padding: 150px 0 210px;
}

.content .head-container .container {
	width: 860px;
}

.content .head-container h1 {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-weight: 700;
	font-size: 46px;
}

.plugin-description {
	font-size: 20px;
	color: black;
}

.plugin-thumbnail {
	padding-top: 50px;
}

.content .desc{
	font-size: 15px;
	color: #666666;
	padding: 5px 20px 20px 20px;
	text-align: center;
}

.content .row.features {
	width: 800px;
}

.pluginImg{
	text-align: right;
}
.pluginImg img{
	margin-top: 50px;
}
.plugin-features{
	background-color: #F2F4F8;
	padding: 100px 0;
	height: 100%;
	position: relative;
}