@CHARSET "UTF-8";

.content{
	background-color: white;
}
.content .jumbotron{
	background-color: white;
	padding-left: 0px;
	margin-bottom: 10px;
}
.content .jumbotron h1 {
	font-size: 50px;
	font-weight: lighter;
    margin-top: 0px;
}
.content .row h3{
	text-align: center;
	color: #337AB7;
	font-size: 20px;
}
.content .row h1{
	text-align: center;
	color: #337AB7;
}

.content .head-container {
	padding: 100px 0 150px;
}

.content .row.features {
	width: 800px;
}



.content .desc{
	font-size: 15px;
	color: #666666;
	padding: 5px 20px 20px 20px;
	text-align: center;
}

.pluginImg{
	text-align: right;
}
.pluginImg img{
	margin-top: 50px;
}