@CHARSET "UTF-8";


.headerBox{
	background-color: #0866C6;
}
.headerBox div.headerArea{
	background-color: #0866C6;
}
.headerArea .jumbotron {
	margin-left: 150px;
	background-color: #0866C6;
	margin-bottom: 0px;
    padding: 0px 0px 20px 0px;
}
.headerArea .jumbotron h1,h3 {
    color: white;
}
.headerArea .jumbotron h1 {
	font-size: 50px;
	font-weight: lighter;
}
.headerArea .jumbotron h3 small{
    color: #DDDDDD;
}
.headerArea .jumbotron p {
	color: white;
}


.content{
	background-color: white;
}
.content .container {
	width: 900px;
}
.content .row {
}
.content .row h3{
	color: #222222;
}
.content .row h3 i{
}
.content .desc{
	font-size: 15px;
	color: #666666;
}

.pluginImg{
	text-align: right;
}
.pluginImg img{
	margin-top: 50px;
}